@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    @apply inline-flex mb-2;
}
.input {
    @apply  rounded-sm border-gray-400 flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-lg;
}

.button {
    @apply bg-blue-600 hover:bg-blue-700  flex items-center py-2 px-6 focus:ring-blue-500 focus:ring-offset-blue-200 text-white  transition ease-in duration-200 text-center text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg
}

.button-danger {
    @apply bg-red-500 hover:bg-red-700  flex items-center py-2 px-6 focus:ring-red-500 focus:ring-offset-red-200 text-white  transition ease-in duration-200 text-center text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg
}

.nav-link {
    position: relative;
}

.nav-link.active:after {
    content: "";
    border-radius: 1rem;
    display: block;
    position: absolute;
    width: 100%;
    top: 2.6rem;
    @apply border border-t-2 border-blue-700;
}
